header {
  text-align: center;
  background-color: #aa6d6d;
  margin-bottom: 20px;
  padding: 10px;
color: #ebe1e1;
}
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}