
<div class="face-snap-card" [ngClass]="{ like: textLikeButton == 'Dislike' }">
    <h2>{{faceSnap.title | uppercase}}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p> Description: {{faceSnap.description}}</p>
    <p *ngIf="faceSnap.location">Location: {{faceSnap.location}}</p>
    <p>Date de creation: {{faceSnap.createdDate | date:'medium'}}</p>
    <p><button (click)="onLikeOrDislike()" class="button">{{textLikeButton}}</button>Likes :
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">  {{ faceSnap.snaps }}</span>
    </p>
</div>