
<!--
<div class="face-snap-card">
<app-face-snap [faceSnap]="myFirstSnap" *ngIf="myFirstSnap.snaps>3"></app-face-snap>
<app-face-snap [faceSnap]="mySecondSnap" *ngIf="mySecondSnap.snaps>3"></app-face-snap>
<app-face-snap [faceSnap]="myLastSnap" *ngIf="myLastSnap.snaps>3"></app-face-snap>
</div>
-->
<app-header></app-header>
<router-outlet></router-outlet>